In [1]:
import random

import numpy as np
import pandas as pd
import seaborn as sns

from algorithm_gd import forward, loss_fn, r2_score, gradient_m, gradient_c, get_iteration_vs_accuracy_data

In [2]:
df = pd.read_csv("SOCR-HeightWeight.csv")
df.rename(columns={"Height(Inches)": "X", "Weight(Pounds)": "y"}, inplace=True)
df

       Index         X         y
0          1  65.78331  112.9925
1          2  71.51521  136.4873
2          3  69.39874  153.0269
3          4  68.21660  142.3354
4          5  67.78781  144.2971
...      ...       ...       ...
24995  24996  69.50215  118.0312
24996  24997  64.54826  120.1932
24997  24998  64.69855  118.2655
24998  24999  67.52918  132.2682
24999  25000  68.87761  124.8742

[25000 rows x 3 columns]

In [3]:
df['X_sqr'] = df['X'].apply(lambda x: np.square(x))
df['Xy'] = df[['X', 'y']].apply(lambda row: row.X * row.y, axis=1)

In [4]:
df

       Index         X         y        X_sqr            Xy
0          1  65.78331  112.9925  4327.443875   7433.020655
1          2  71.51521  136.4873  5114.425261   9760.917922
2          3  69.39874  153.0269  4816.185114  10619.874046
3          4  68.21660  142.3354  4653.504516   9709.637048
4          5  67.78781  144.2971  4595.187185   9781.584398
...      ...       ...       ...          ...           ...
24995  24996  69.50215  118.0312  4830.548855   8203.422167
24996  24997  64.54826  120.1932  4166.477869   7758.261924
24997  24998  64.69855  118.2655  4185.902372   7651.606365
24998  24999  67.52918  132.2682  4560.190151   8931.963086
24999  25000  68.87761  124.8742  4744.125159   8601.036447

[25000 rows x 5 columns]

In [5]:
L = 0.001

In [6]:
doubly_stochastic_matrix_config = [
    [1 / 2, 1 / 4, 1 / 8, 1 / 8],
    [1 / 4, 3 / 4, 0, 0],
    [1 / 8, 0, 7 / 8, 0],
    [1 / 8, 0, 0, 7 / 8],
]

In [7]:
s1 = [1.7, 1.9, 1.1, 1.8]
s2 = [1.7, 1.9, 1.1, 1.9]

In [8]:
def get_front(s, pos):
    dbl_st_mat = doubly_stochastic_matrix_config[pos]
    return sum(i*j for i, j in zip(dbl_st_mat, s))

In [9]:
def get_p():
    return -2/df.Index.count()

In [10]:
def get_q():
    return np.sum(df['Xy'])

In [11]:
def get_r():
    return np.sum(df['X_sqr'])

In [12]:
p = get_p()
q = get_q()
r = get_r()
p, q, r

(np.float64(-8e-05),
 np.float64(216291902.5483566),
 np.float64(115666993.35202293))

In [13]:
for i in range(1):
    pos = 3
    frnt = get_front(s1, pos) 
    s1[pos] = frnt - L * p * (q - s1[pos] * r)
    print(frnt, s1)

1.7874999999999999 [1.7, 1.9, 1.1, np.float64(2.4348051611772252)]