In [1]:
import random

import numpy as np
import pandas as pd
import seaborn as sns

from algorithm_gd import forward, loss_fn, r2_score, gradient_m, gradient_c, get_iteration_vs_accuracy_data

In [2]:
df = pd.read_csv("SOCR-HeightWeight.csv")
df.rename(columns={"Height(Inches)": "X", "Weight(Pounds)": "y"}, inplace=True)
df

       Index         X         y
0          1  65.78331  112.9925
1          2  71.51521  136.4873
2          3  69.39874  153.0269
3          4  68.21660  142.3354
4          5  67.78781  144.2971
...      ...       ...       ...
24995  24996  69.50215  118.0312
24996  24997  64.54826  120.1932
24997  24998  64.69855  118.2655
24998  24999  67.52918  132.2682
24999  25000  68.87761  124.8742

[25000 rows x 3 columns]

In [3]:
df['X_sqr'] = df['X'].apply(lambda x: np.square(x))

In [4]:
df

       Index         X         y        X_sqr
0          1  65.78331  112.9925  4327.443875
1          2  71.51521  136.4873  5114.425261
2          3  69.39874  153.0269  4816.185114
3          4  68.21660  142.3354  4653.504516
4          5  67.78781  144.2971  4595.187185
...      ...       ...       ...          ...
24995  24996  69.50215  118.0312  4830.548855
24996  24997  64.54826  120.1932  4166.477869
24997  24998  64.69855  118.2655  4185.902372
24998  24999  67.52918  132.2682  4560.190151
24999  25000  68.87761  124.8742  4744.125159

[25000 rows x 4 columns]

In [5]:
diff = 0.1

In [6]:
tmp = (2/df.Index.count()) * 0.0001 * df['X_sqr'].sum()
tmp

np.float64(0.9253359468161835)

In [7]:
dbl_st_mat = [1/8, 0, 0, 7/8]

In [12]:
s1 = [1.7, 1.9, 1.1, 1.8]
s2 = [1.7, 1.9, 1.1, 1.9]

In [13]:
def get_front(s):
    return sum(i*j for i, j in zip(dbl_st_mat, s))

In [14]:
for i in range(10):
    frnt = get_front(s1) 
    s1[3] = (frnt - tmp * s1[3])/(1-tmp)
    print(frnt, s1)

1.7874999999999999 [1.7, 1.9, 1.1, np.float64(1.6325834257989429)]
1.641010497574075 [1.7, 1.9, 1.1, np.float64(1.745449944770064)]
1.739768701673806 [1.7, 1.9, 1.1, np.float64(1.6693592042597503)]
1.6731893037272814 [1.7, 1.9, 1.1, np.float64(1.7206569747960176)]
1.7180748529465153 [1.7, 1.9, 1.1, np.float64(1.6860737752589476)]
1.6878145533515791 [1.7, 1.9, 1.1, np.float64(1.7093885836359568)]
1.7082150106814622 [1.7, 1.9, 1.1, np.float64(1.6936705385466369)]
1.694461721228307 [1.7, 1.9, 1.1, np.float64(1.7042671060772316)]
1.7037337178175775 [1.7, 1.9, 1.1, np.float64(1.6971232632652034)]
1.697482855357053 [1.7, 1.9, 1.1, np.float64(1.7019393973553827)]

In [ ]:
1.8749 - tmp * diff

In [ ]:
1.78749 + tmp * diff